<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer id="footer" class="footer-footer">
    <div class="footer-top">
      <div class="footer-container">
        <div class="footer-container1">
          <span class="footer-contact"><span>More tools:</span></span>
          <a
            href="https://sumupnow.com"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link"
          >
            <span class="footer-text">Sum Up Now, summarize</span>
            <span class="footer-text01">text online</span>
            <br />
          </a>
          <a href="index.html" class="footer-link1">
            <span>Manage your CI easily</span>
            <br />
          </a>
          <a href="proto-client.html" class="footer-link2">
            <span>ProtoClient - Send gRPC request</span>
            <br />
          </a>
        </div>
      </div>
      <div class="footer-container2">
        <div class="footer-container3">
          <div class="footer-link3">
            <div class="footer-subscription">
              <span class="footer-text07">
                <span class="footer-text08">Any questions ?</span>
                <br />
              </span>
              <a
                href="mailto:gary@pixel-perfect.dev?subject="
                class="footer-link4"
              >
                <div class="footer-subscribe">
                  <span class="footer-text10"><span>Contact us</span></span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-container4">
          <span class="footer-contact1"><span>Contact</span></span>
          <a href="mailto:gary@pixel-perfect.dev?subject=" class="footer-link5">
            <span>gary@pixel-perfect.dev</span>
          </a>
          <div class="footer-container5">
            <a
              href="https://github.com/GaryLaurenceau"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-link6"
            >
              <img
                alt="github profile"
                src="public/github-mark-white-200h.png"
                class="footer-image"
              />
            </a>
            <a
              href="https://www.linkedin.com/in/garylaurenceau/"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-link7"
            >
              <img
                alt="linkedin profile"
                src="public/playground_assets/linkedin-200h.png"
                class="footer-image1"
              />
            </a>
            <a
              href="https://medium.com/@GaryLaurenceau/write-a-chrome-extension-with-kotlin-efef865d9381"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-link8"
            >
              <img
                alt="medium profile"
                src="public/playground_assets/medium-200h.jpg"
                class="footer-image2"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
