.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.footer-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-contact {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.footer-link {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}
.footer-container2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer-image {
  width: 23px;
  height: 23px;
  align-self: stretch;
  object-fit: cover;
}
.footer-link1 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}
.footer-container3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-contact1 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.footer-link2 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}
.footer-link3 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}
.footer-link4 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}
.footer-link5 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-subscription {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.footer-text07 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
}
.footer-link6 {
  display: contents;
}
.footer-subscribe {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #5228F5;
}
.footer-subscribe:hover {
  background-color: #000;
}
.footer-text10 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
}

@media(max-width: 1200px) {
  .footer-text07 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .footer-text08 {
    color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .footer-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-link5 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 520px) {
  .footer-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .footer-link {
    color: var(--dl-color-gray-white);
    font-size: inherit;
    text-decoration: none;
  }
  .footer-link1 {
    color: var(--dl-color-gray-white);
    font-size: inherit;
    text-decoration: none;
  }
  .footer-link2 {
    color: var(--dl-color-gray-white);
    font-size: inherit;
    text-decoration: none;
  }
  .footer-text {
    color: var(--dl-color-gray-white);
    font-size: inherit;
    text-decoration: none;
  }
  .footer-text01 {
    color: var(--dl-color-gray-white);
    font-size: inherit;
    text-decoration: none;
  }
  .footer-link3 {
    color: var(--dl-color-gray-white);
    font-size: inherit;
    text-decoration: none;
  }
  .footer-link4 {
    color: var(--dl-color-gray-white);
    font-size: inherit;
    text-decoration: none;
  }
  .footer-subscription {
    margin-top: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-subscribe {
    width: auto;
    padding: var(--dl-space-space-unit);
  }
}

.proto-client-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.proto-client-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.proto-client-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.proto-client-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.proto-client-logo {
  width: 64px;
}
.proto-client-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.proto-client-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proto-client-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.proto-client-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.proto-client-centered {
  width: 100%;
  height: 77px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  box-sizing: initial;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.proto-client-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: 0px;
}
.proto-client-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
  justify-content: center;
}
.proto-client-text03 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  text-align: center;
}
.proto-client-link {
  display: contents;
}
.proto-client-right {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 64px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.proto-client-text04 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.proto-client-text05 {
  font-weight: 900;
}
.proto-client-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 1200px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 48px;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.proto-client-text07 {
  text-align: center;
}
.proto-client-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.proto-client-text09 {
  font-style: normal;
  font-weight: 700;
}
.proto-client-text13 {
  font-style: normal;
  font-weight: 700;
}
.proto-client-text15 {
  font-style: normal;
  font-weight: 700;
}
.proto-client-image {
  width: 66%;
  object-fit: cover;
}
.proto-client-link1 {
  display: contents;
}
.proto-client-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .proto-client-centered {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .proto-client-right {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .proto-client-text04 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .proto-client-text05 {
    font-weight: 900;
  }
}
@media(max-width: 991px) {
  .proto-client-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .proto-client-menu {
    display: none;
    visibility: hidden;
  }
  .proto-client-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .proto-client-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .proto-client-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .proto-client-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .proto-client-links1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .proto-client-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .proto-client-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .proto-client-left {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 520px) {
  .proto-client-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
  }
  .proto-client-logo {
    margin-left: 0px;
  }
  .proto-client-icon {
    align-items: center;
    justify-content: center;
  }
}
